.DS_Store
__pycache__/
RDD2022/
*.vscode/
*.db

data/
*.zip
*.pt
runs/
eval_runs/
models/

archive/*
train/archive/*

# Python projects
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
dist/
build/